/**


* Student Name: Pratik Dhimal


* Student ID: 2407779


*/
/* fonts imported froim google fonts */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Gilda+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Gilda Display', serif;
    font-family: hii;
    font-weight: 200;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

.loading {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading h1 {
    color: #eda570;
    font-size: 6vw;
    text-transform: lowercase;

}

a {
    text-decoration: none;
    color: none;
}

#v,
#vv,
#vvv,
#vvvv {
    font-size: 1.5vw;
    font-weight: 100;
    padding-top: 1vw;
    text-transform: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgba(65, 105, 225, 0.458);
}

.pageone {
    height: 100%;
    width: 100%;
}

.navbar {
    height: 5vw;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    position: absolute;
    z-index: 1;
}

.navbar h1 {
    transition-duration: 400ms;
    cursor: pointer;
    font-size: 3vw;
    color: white;
    font-weight: 100;
}

.navbar a h1:hover {
    color: #eda570;
}

.mainbox {
    height: 45vw;
    background-color: #7778765c;
    border-radius: 1vw;
    margin-top: 3vw;
    width: 50%;
    border: 0.2px solid black;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://github.com/Pratik07007/imagesProjects/blob/main/pexels-johannes-plenio-1118873.jpg?raw=true');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 60%;
    height: 50%;
    border-radius: 1vw 0vw 0vw 1vw;
    border: none;
    outline: none;
    color: black;
    text-transform: none;
    font-size: 1.5vw;
    padding-left: 2%;
}

.search input::placeholder {
    color: black;
    font-size: 1vw;
    text-transform: capitalize;
}

.search button {
    height: 50%;
    width: 3vw;
    background-color: white;
    border: 0.5px solid black;
    outline: none;
    border-left: 0.2px solid black;
    border-radius: 0vw 1vw 1vw 0vw;
    background-color: #eda570;
}

.search i {
    color: black;
    font-size: 2vw;
    cursor: pointer;
}

.searchdown {
    height: 88%;
    width: 100%;
    display: flex;
}

.searchdown .left {
    height: 100%;
    width: 40%;
}

.searchdown .right {
    height: 100%;
    width: 60%;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.weatherinfo {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.343);
    backdrop-filter: blur(10px);
    border-radius: 5% 5% 0% 0%;
    height: 75%;
    width: 100%;
    color: black;
    padding-top: 1vw;
    font-size: 1vw;
}

.video {
    height: 25%;
    width: 100%;
}


.batta {
    height: 40vw;
    width: 100%;
}

.batta h2 {
    font-size: 1.5vw;
}

.desc {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
}

.weatherinfo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    overflow: hidden;
}

.pressured img {
    height: 100%;
    width: 10%;
    padding-bottom: 2vw;
}

.same01 {
    display: flex;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
    height: 100%;
    width: 100%;
}

.same01 h3 {
    font-size: 2vw;
    padding-left: 1vw;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-fit: center;
}

.video {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid white;
}

.video-text {
    position: absolute;
    display: flex;
    gap: 0px;
    align-items: center;
    font-size: 1.2vw;
}

.video-text h2 {
    font-size: 3vw;
    color: #eda570;

}

.right-main {
    height: 70%;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.343);
    backdrop-filter: blur(20px);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.right-main h1 {
    padding-top: 10%;
    font-size: 5vw;
    font-weight: 100;
}

.right span {
    font-size: 3vw;
    padding: 0.5vw 2vw;
    background-color: transparent;
    border-radius: 2vw;
    transition-duration: 400ms;
    border: 0.5px solid white;
}

.right span:hover {
    background-color: #eda570;
}

.right-main img {
    height: 30%;
    width: 30%;
}

.thl {
    display: flex;
    font-size: 1.4vw;
    font-size: 100;
    gap: 20px;
}

.thl h3 {
    font-size: 1.4vw;
}

.weatherinfo-info img {
    height: 100%;
    width: 10%;
    margin-bottom: 20px;
}

.footer {
    height: 4vw;
    width: 100vw;
    background-color: black;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer h1 {
    color: white;
    font-size: 2vw;

}

#clickme {
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    background-color: #eda570;
    border-radius: 2vw;
    transition-duration: 400ms;
    border: 0.5px solid white;
    width: 40%;
    font-weight: bold;
    /* white-space: nowrap; */
}

#clickme:hover {
    background-color: transparent;
}

.seven {
    height: 80vh;
    width: 70%;
    background-color: rgba(234, 231, 231, 0.343);
    backdrop-filter: blur(10px);
    margin-left: 17%;
    border: 1px solid black;
    border-radius: 1.5vw;
    color: white;
}


table {
    margin-left: 4vw;
}

.seven span {
    padding-left: 15vw;
    font-size: 3vw;
}

th,
tr {
    padding: 1vw 2vw;
    text-transform: uppercase;
    border: 1px solid white;
}

td {
    padding: 0vw 1.2vw;
    border: 1px solid white;
    text-transform: none;
}
#clickmeback{
    position: relative;
    right: 15vw;
    border-radius: 1.5vw;
    transition-duration: 0.5s;
}
#clickmeback:hover{
    background-color: #f09e63;
}
#sevenTxt{
    font-size: 3vw;
}
#seven_nav{
    display: flex;
}
@media only screen and (max-width: 625px) {
    .mainbox {
        height: 50vh;
        width: 80%;
        background-color: #7778765c;
        border-radius: 1vw;
        margin-top: 3vw;

    }

    .search button {
        width: 10vw;
        height: 70%;
        background-color: #f09e63;
    }

    .video {
        display: none;
    }

    .searchdown {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .search input {
        width: 60%;
        height: 70%;
    }

    .search input::placeholder {
        color: black;
        font-size: 2.8vw;
    }

    .weatherinfo {
        display: flex;
        font-size: 0.5vw;
        width: 100%;
        height: 100%;

    }

    .weatherinfo-info {
        flex-direction: row;
        width: 100%;
        gap: 0vw;

    }

    .thl h3 {
        font-size: 3.4vw;
    }

    .searchdown .right {
        width: 90%;
        height: 200vw;
    }

    .right-main {
        display: flex;
        gap: 0vw;
        font-size: vw;
    }

    .weatherinfo-info img {
        display: none;
        padding-bottom: 200px;
    }
}